<!DOCTYPE html>
<html lang="ko">
<meta charset="utf-8">
<html>
<head>
    <title>검색어 키워드 분석</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        table {
            width: 100%;
            border: 1px solid #444444;
            border-collapse: collapse;
        }

        tr, td {
            border: 1px solid #444444;
            padding: 10px;
        }
    </style>

</head>
<body>
<script type="text/javascript">
    function to_ajax() {
        let queryString = $("#subject").val();
        let data = {
            subject: queryString
        }
        console.log(queryString);

        $.ajax({
            url: '/post',
            data: JSON.stringify(data),
            method: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                let arrDate = [];
                let arrSubject = [];
                let arrExpect = [];
                arrDate[0] = "날짜";
                arrSubject[0] = queryString;
                arrExpect[0] = "예측";

                for (let i = 0; i < result.length; i++) {
                    arrDate[i + 1] = result[i]["날짜"];
                    arrSubject[i + 1] = result[i][queryString].toString();
                    arrExpect[i + 1] = result[i]["예측"];
                }

                const table = document.createElement("table");

                for (let i = 0; i < arrDate.length; i++) {

                    let tr = document.createElement("tr");

                    let td1 = document.createElement("td");
                    td1.appendChild(document.createTextNode(arrDate[i] + " "));

                    let td2 = document.createElement("td");
                    td2.appendChild(document.createTextNode(arrSubject[i] + " "));

                    let td3 = document.createElement("td");
                    td3.appendChild(document.createTextNode(arrExpect[i] + " "));

                    tr.appendChild(td1);
                    tr.appendChild(td2);
                    tr.appendChild(td3);

                    table.appendChild(tr);

                }

                $("#div_id").append(table);
            },
            error: function (error) {
                alert("Error!");
            }

        })

    }
</script>

<H2>검색어를 입력하세요</H2>
<input type="text" id="subject" name="subject">
<input type="button" onclick="to_ajax()" value="전송">
<div id="div_id"></div>


</body>
</html>