<!DOCTYPE html>
<html lang="ko">
<meta charset="utf-8">
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>검색어 키워드 분석</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        body {
            padding: 0px;
            margin: 0px;
        }

        table {
            width: 100%;
            border: 1px solid #444444;
            border-collapse: collapse;
        }

        tr, td {
            border: 1px solid #444444;
            padding: 10px;
        }

        #year {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-evenly;
        }

        #month {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-evenly;
        }

        [class*='selected_'] {
            font-weight: bold;
            color: red;
        }


    </style>

</head>
<body>


<H2>검색어를 입력하세요</H2>
<input type="text" id="subject" name="subject">
<input type="button" id="button" onclick="set_subject()" value="전송">
<div id="filter_div"></div>
<div id="table_div"></div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script>
    let today = new Date();
    let get_year = today.getFullYear();
    let get_month = today.getMonth() + 1;
    let get_date = today.getDate() - 1;
    let queryString;
    let month_id;
    let year_id;

    $(document).ready(function () {
        make_filter()
        for (let i = 0; i < 3; i++) {
            let id = "year" + i;
            $(document).on("click", "#" + id, function () {
                event.preventDefault();
                if (queryString === undefined) {
                    alert("지정된 검색어 없음");
                } else {
                    document.querySelectorAll(".selected_year").forEach(el => el.classList.remove("selected_year"));
                    document.getElementById(id).classList.toggle("selected_year");
                    year_id = get_year - i;
                    if (month_id !== undefined) {
                        console.log("start");
                        to_api(year_id, month_id, queryString);
                    }


                }
            });
        }

        for (let i = 1; i < 13; i++) {
            let id = "month" + i;
            $(document).on("click", "#" + id, function () {
                event.preventDefault();
                if (queryString === undefined) {
                    alert("지정된 검색어 없음");
                } else {
                    document.querySelectorAll(".selected_month").forEach(el => el.classList.remove("selected_month"));
                    document.getElementById(id).classList.toggle("selected_month");
                    month_id = i;
                    if (year_id !== undefined) {
                        console.log("start");
                        to_api(year_id, month_id, queryString);
                    }

                }
            });
        }
    });


    function make_filter() {
        let div0 = document.createElement("div");
        div0.id = 'year';
        let div1 = document.createElement("div");
        div1.id = 'month';

        for (let i = 0; i < 3; i++) {
            let filter_year = document.createElement("a");
            filter_year.appendChild(document.createTextNode(get_year - i + "년"));
            filter_year.id = "year" + i + "";
            div0.appendChild(filter_year);
        }
        for (let i = 1; i < 13; i++) {
            let filter_month = document.createElement("a");
            filter_month.appendChild(document.createTextNode(i + "월"));
            filter_month.id = "month" + i + "";
            div1.appendChild(filter_month);
        }

        $("#filter_div").append(div0);
        $("#filter_div").append(div1);

    }

    function to_table(json, queryString, caption) {
        let objValue = json['value'];
        let objLength = Object.keys(objValue).length;
        let arrDate = [];
        let arrValue = [];
        let arrExpect = [];
        arrDate[0] = "날짜";
        arrValue[0] = queryString;
        arrExpect[0] = "예측";


        console.log(Object.keys(objValue).length);

        for (let i = 0; i < objLength; i++) {
            arrDate[i + 1] = i + 1 + "";
            arrValue[i + 1] = json["value"][i].toString();
            arrExpect[i + 1] = json["expect"][i];
        }

        const table = document.createElement("table");

        let tr0 = document.createElement("tr");
        let tr1 = document.createElement("tr");
        let tr2 = document.createElement("tr");

        for (let i = 0; i < arrDate.length; i++) {
            let td0 = document.createElement("td");
            td0.appendChild(document.createTextNode(arrDate[i]));

            let td1 = document.createElement("td");
            td1.appendChild(document.createTextNode(arrValue[i] + ""));

            let td2 = document.createElement("td");
            td2.appendChild(document.createTextNode(arrExpect[i]));

            tr0.appendChild(td0);
            tr1.appendChild(td1);
            tr2.appendChild(td2);

        }

        table.append(caption);
        table.appendChild(tr0);
        table.appendChild(tr1);
        table.appendChild(tr2);

        return table;
    }

    function to_api(year, month, subject) {

        let data = {
            subject: subject,
            year: year,
            month: month

        };

        let caption = document.createElement("p");
        caption.appendChild(document.createTextNode(subject + " " + year.toString() + "." + month.toString()));

        $.ajax({
            url: '/post',
            data: JSON.stringify(data),
            method: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                let duplicate_table = document.querySelector("#"+subject);
                if(duplicate_table != null){
                    duplicate_table.remove();
                }


                let table = to_table(result, queryString, caption);
                table.id = subject;
                table.className = subject;
                $("#table_div").append(table);

            },
            error: function () {
                alert("Error!");
            }

        })
    }

    function set_subject() {
        queryString = $('#subject').val();
        if (queryString === "") {
            alert("검색어 입력이 필요합니다.");
            return
        }
        to_api(get_year, get_month, queryString);
        $('#subject').val("");

    }
</script>

</body>
</html>